body{
background-color:rgb(0,124,178);
background-image:url(file://///thor/cityhome/10339/My%20Documents/FireWeb/Images/11349491.png);
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: 12px 400px;
background-size:100% 60%;

}
header,footer
    {
    border:2px solid;
    z-index:100;
    }
                
header nav
    {
    margin:20px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    float:right;
    z-index:99;
    }
header nav a
{
font-size:large;
text-shadow: 2px 2px 2px #000;
color:Black;
text-decoration:none;
    margin: 10px;
}
header{
height:230px;
background-color:#FFF;
background-image:url('../../New Background.jpg');
background-size: 100%;
background-position:left;
backface-visibility:hidden;
background-repeat:no-repeat;
-moz-border-radius-bottomleft: 3px 2px;
-moz-border-radius: 15px;
border-radius: 15px;
border-color:Black Black black rgb(0,124,178);
}

section#sidebar{
    border:3px dotted gray;
    float:right;
    width:20%;
    -moz-border-radius: 15px;
    border-radius: 15px;
    background-color:White;
    
}

section#articles{
border-top-right-radius:    1em 5em;
border-bottom-right-radius: 15px;  
margin-left:15px;
    border:2px solid;
background-color:black;
}
section#articles h2{
 color:rgb(0,124,178);
margin-top:0;
margin-left:10px;
}
section#articles article{
background-color:White;
    border:2px solid gray;
    margin:15px;
}
article hgroup{
    margin: 0.67em 0px;
}
article hgroup *{
    margin: 0px;
}
article h1 *{
font-size: 1em;
}
article h2 *{
    font-size: 0.67em;
}
aside{
    border: 1px solid;
    max-width:20%;
    float:right;
}
figure{
    border:1px solid;
    margin: 2px;
    float:left;
    background-color:White;
}
footer{
background-color:White;
    clear:both;
     -moz-border-radius: 10px;
    order-radius: 10px;
}

/* CSS3 Reflection code */

.reflected {
z-index:80;
    position: relative;
}
.reflected:before, .reflected:after {
    display:table;
    position: absolute;
    bottom: -.7em; /* You should change this value to fit your font */
    left: 0;
    right: 0;
}
.reflected:before {
    content: 'FOR EXCELLENCE IN PRODUCT AND SERVICE......WHAT EVER IT TAKES';
    opacity: .3;
    /* This is how the text is flipped vertically */
    -webkit-transform: scaleY(-1);
    -moz-transform: scaleY(-1);
    -o-transform: scaleY(-1);
}
.reflected:after {
    /* Fading using CSS gradient */
    /* Don't forget to change the colors to your background color */
     background: -webkit-gradient(linear, left top, left center, from(rgba(0,0,0,0)), to(rgb(0,0,0)));
    background: -moz-linear-gradient(top, rgba(0,0,0,0), rgb(0,0,0));
    /* I left out the `filter` property,
       because IE doesn't know `:before` and `:after` pseudo-elements anyway */
    content: ' ';
    height: .5em;
}
